{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
                <h1>About</h1>
            </div>
            <div>
            <p></strong>        <h1>Rango says...</h1>
        here is the about page! <p> <strong>{{ jaakko }}</strong><br />
        This page has been visited {{ visits }} times.</p>

            <img src="{% static "images/jaakko.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
            </div>
{% endblock %}