{% extends 'base.html' %}

{% load staticfiles %}

<!-- Going to go with the default title -->

{% block body_block %}


        {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
        <h1>Rango says... hello world!</h1>
        {% endif %}


        {% if categories %}
            <ul>
        {% for category in categories %}
            <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
       <h1> The most viewed pages</h1>
       {% if most_viewed_pages %}
            <ul>
                {% for page in most_viewed_pages %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="{{page.url}}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
       {% endif %}

{% endblock %}